@font-face {
    font-family: 'NeoDunggeunmoPro-Bold';
    src: url('../Source/NeoDunggeunmoPro-Regular.woff') format('woff');
    font-weight : normal; 
}

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('../Source/NeoDunggeunmoPro-Regular.woff') format('woff');
    font-weight: bold;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #707070;
    --color-light-grey: #aeaeae;
    --color-light-blue: #6f96e9;
    --color-background : #19192A;
    --color-point-yellow : #F8F32B;

    --font-header: 'NeoDunggeunmoPro-Bold';
    --font-text: 'NeoDunggeunmoPro-Regular';
}

html{
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    overflow: hidden;
}

/* 각 섹션의 헤더 */
.sectionHeader {
    text-align: center;
    font-size: 5em;
    font-family: var(--font-header);
    margin: 8vh 0 6vh;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
    font-family: var(--font-text);
}