#MemberIntroduction{
    background-color : var(--color-background);
    color : white;
}

#MembersDisplay {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* 스크롤 시 각 아이템의 시작점에 스냅되도록 설정 */
    -webkit-overflow-scrolling: touch; /* iOS에서 스크롤을 부드럽게 만듦 */
    margin: 6vh 0 9vh;
    height: 60%;
}

#MembersDisplay::-webkit-scrollbar {
    display: none;
}

.memberCard {
    flex: 0 0 80%;
    display: flex;
    padding: 0 10%;
    scroll-snap-align: start; /* 스크롤이 시작점에 정렬되도록 함 */
}

.memberIconContainer {
    display: flex;
    width: 50%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.memberIconContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.memberDiscriptionContainer {
    display: flex;
    flex-direction: column;
    padding: 15px 5%;
    width: 50%;
}

.memberName {
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-family: var(--font-text);
    color : white;
}

blockquote {
    border-left: 4px solid var(--color-light-purple); /* 왼쪽 테두리 4px, 회색 실선 */
    padding-left: 15px;       /* 텍스트와 테두리 사이 간격 */
    margin: 20px 0;           /* 위아래 여백 */
    font-size: 1.5em;
    color : var(--color-light-purple);
    font-family: 'NeoDunggeunmoPro-Regular';
}

blockquote h3 {
    margin: inherit;
}

.snsIconContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: auto;
    margin-bottom: 1vh;
}

.snsIconContainer a {
    height: inherit;
    margin-left: 10px;
    text-decoration: none;
}

.snsIconContainer a img {
    width: 100%;
    height: 100%;
}

#MemberIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
}

.indicatorContainer {
    width: 100%;
    height: 100%;
    margin: 0 35%;
    border-radius: 4px;
    background-color: var(--color-grey);
}

.indicator {
    height: 100%;
    width: 25%;
    border-radius: inherit;
    background-color: var(--color-black);
}