#TeamIntroduction{
    display: flex;
    width : 100%;
    height : 100vh;
}

#TeamTextSection{
    display: flex;
    flex : 3;

    background-color: var(--color-background);
}

#TeamTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    padding-left: 35%;
}

.TeamNameText{
    width: 100%;
    text-align: left;
    font-family: 'NeoDunggeunmoPro-Bold';
    
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
    
    font-size: 13vh;
    color : var(--color-point-yellow); 
}

#TeamIntroduceText{
    width: 100%;
    text-align: left;
    font-family: 'NeoDunggeunmoPro-Regular';

    margin: 2vh 0 0 0; 
    padding: 0 0 0 0;

    font-size: 3vh;
    color : var(--color-white); 
}

#CinematicVideoContainer{
    display : flex;
    flex : 5;

    background-color: var(--color-point-yellow);
}

#CinematicVideo{
    width: 100%;
    height: 100%;

    /* border-bottom-left-radius: 2%; */

    object-fit: cover;
}